<!DOCTYPE html>
<html>
  <head>
    <title>Create new Notes - Nevernotes</title>
    <%- include('./layout/head'); %>
  </head>
  <body>
    <%- include('./layout/header'); %>
    <div id="container">
      <div id="content">
        <form method="post" class="form">
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" type="text" />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <input class="form-control" name="content" type="text" />
          </div>
          <button type="submit" class="btn btn-success form-button">Save</button>
        </form>
      </div>
    </div>
    <%- include('./layout/scripts'); %>
  </body>
</html>
