<!DOCTYPE html>
<html>
  <head>
    <title><%= username %>'s Nevernotes</title>
    <%- include('./layout/head'); %>
  </head>
  <body>
    <%- include('./layout/header'); %>
    <div id="container">
      <div id="content">
        <a href="/create"><button class="btn btn-primary create-button">Create new Todo</button></a>
        <div class="todo-card-list">
          <%if (data.length > 0) { %> <% data.forEach((el, index) => { %>
          <div><%= el.title %></div>
          <% }); %> <% } %>
        </div>
      </div>
    </div>
    <%- include('./layout/scripts'); %>
  </body>
</html>
